:root {
  /* PRIMARY*/

  --ion-color-primary: #4f46e5;
  --ion-color-primary-rgb: 79, 70, 229;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #463ec9;
  --ion-color-primary-tint: #6159e8;

  /*SECONDARY*/

  --ion-color-secondary: #0ea5e9;
  --ion-color-secondary-rgb: 14, 165, 233;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0c91cd;
  --ion-color-secondary-tint: #26aeeb;

  /*SUCCESS*/

  --ion-color-success: #22c55e;
  --ion-color-success-rgb: 34, 197, 94;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #1eae53;
  --ion-color-success-tint: #38cb6e;

  /*WARNING*/

  --ion-color-warning: #f59e0b;
  --ion-color-warning-rgb: 245, 158, 11;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #d88b0a;
  --ion-color-warning-tint: #f6a824;

  /*DANGER*/

  --ion-color-danger: #ef4444;
  --ion-color-danger-rgb: 239, 68, 68;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d23c3c;
  --ion-color-danger-tint: #f15757;

  /*NEUTRALS*/
  --ion-background-color: #f8fafc;
  --ion-background-color-rgb: 248, 250, 252;

  --ion-text-color: #0f172a;
  --ion-text-color-rgb: 15, 23, 42;

  --ion-border-color: #e2e8f0;

  --ion-color-light: #f1f5f9;
  --ion-color-light-rgb: 241, 245, 249;

  --ion-color-medium: #64748b;
  --ion-color-medium-rgb: 100, 116, 139;

  --ion-color-dark: #0f172a;
  --ion-color-dark-rgb: 15, 23, 42;
}