<ion-content>
  <div class="page-container">

    @if (loading) {

      <div class="loader-container">
        <ion-spinner name="crescent"></ion-spinner>
      </div>

    } @else {

      @if (user) {

        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Welcome
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            {{ user.email }}
          </ion-card-content>
        </ion-card>

        @if (user.role === userRole.INFLUENCER) {

          <ion-card>
            <ion-card-header>
              <ion-card-title>
                Browse Campaigns
              </ion-card-title>
            </ion-card-header>

            <ion-card-content>
              Discover campaigns from brands.
            </ion-card-content>

            <ion-button
              expand="block"
              (click)="goToCampaigns()"
            >
              View Campaigns
            </ion-button>
          </ion-card>

          <ion-card>
            <ion-card-header>
              <ion-card-title>
                My Applications
              </ion-card-title>
            </ion-card-header>

            <ion-card-content>
              Track all campaign applications.
            </ion-card-content>

            <ion-button
              expand="block"
              (click)="goToMyApplications()"
            >
              View Applications
            </ion-button>
          </ion-card>

        } @else {

          <ion-card>
            <ion-card-header>
              <ion-card-title>
                Create Campaign
              </ion-card-title>
            </ion-card-header>

            <ion-card-content>
              Create a new campaign for influencers.
            </ion-card-content>

            <ion-button
              expand="block"
              (click)="goToCreateCampaign()"
            >
              Create Campaign
            </ion-button>
          </ion-card>

          <ion-card>
            <ion-card-header>
              <ion-card-title>
                My Campaigns
              </ion-card-title>
            </ion-card-header>

            <ion-card-content>
              Manage your existing campaigns.
            </ion-card-content>

            <ion-button
              expand="block"
              (click)="goToMyCampaigns()"
            >
              View Campaigns
            </ion-button>
          </ion-card>

        }

        <ion-button
          expand="block"
          color="danger"
          (click)="logout()"
        >
          Logout
        </ion-button>

      }

    }

  </div>
</ion-content>